:root {
  --color-primary: #0e4152;
  --color-secondary: #2fab5b;

  --color-light: #ffff;
}

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 21px;
  margin: 10px;
}

.light-mode {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.nav {
  display: flex;
  padding: 5px;
  background-color: #0d607c;
  justify-content: Center;
  list-style: none;
  font-size: 18px;
}

.nav a {
  color: white;
  display: block;
  margin: 10px;
  padding: 5px;
  font-size: 17px;
}

.dnl {
  margin-right: 20px;
  background-color: green;
  margin: 10px;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  color: white;
  border-radius: 4px;
}

.form {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.form .form-control {
  display: block;
  outline: none;
  border: none;
  padding: 15px 40px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  margin-right: 20px;

 
  border-radius: 4px;
}

.form .apply {
  display: block;
  padding: 15px 40px;
  font-weight: 400;
  margin-right: 20px;
  background-color: green;
  color:white
  border: none;
  border-radius: 4px;
}



.form-box {
  
  padding-top: 60px;
}
